*{
    text-align: center;
}

.table{
    margin: 0 auto ;
    width: 50%;
    
}
.today{
    background-color:rgb(248, 207, 245);
}

.mesSig,
.mesAnt{
    opacity: 0.5;
}

.button{
    margin: 1%;
}
h1{
    text-align: center;
    background-color: rgb(241, 149, 198);
    color: white;
}

